@tailwind base; 
@tailwind components; 
@tailwind utilities;


@layer components {
h1 {
  @apply w-full my-2 text-5xl font-bold
}
.padding {
@apply px-3 sm:px-8;
} 
.twocolinputs {
  @apply sm:grid sm:grid-cols-2 gap-x-5;
}
}

.firebase-emulator-warning {
  display: none !important;
}


/* .snackbar {
  @apply p-5 bg-neutral text-neutral-content z-[5] fixed bottom-5 right-5 text-wrap;
} */
/* .vbtn {
  @apply btn p-0 m-0; 
}
.vbtn * {
  @apply capitalize w-full font-bold m-0;
  padding: 0px !important;
} */

html { overflow-y: auto }

.v-main {
  padding-top: 0 !important;
  padding-left: 0 !important;
  overflow: hidden !important; /* Prevents scrollbars from appearing */
}