@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 1.125rem;
}

@keyframes underline {
  to {
    width: 
    50% 100%,
    100% 0%;
  }
}

/* TEXT FIELDS  */
.basediv {
  position: relative;
  background: white;
  padding: 20px;
  border: 1px solid black;
  outline-style: solid;
  outline-color: rgb(var(--v-theme-secondary-lighten-2));
  outline-width: 1px;
}
.baseoutline {
  position: relative;
  background: white;
  /* padding: 20px; */
  border: 1px solid black;
  outline-style: solid;
  outline-color: rgb(var(--v-theme-secondary-lighten-2));
  outline-width: 1px;
}
.darkdiv {
  position: relative;
  color: white;
}
.darkdiv::before {
  content: ''; 
  background: black;
  opacity: 90%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  z-index: -1;
}
.textfields {
  gap:2rem;
  display: flex;
  flex-direction: column;
}

.fadein {
  animation: article-load 1s ease-in;
  animation-fill-mode: forwards;
  transform: translateY(-20px);
  opacity: 0;
}

body {
  margin: 0;
  --nav-load-time: 300ms;
  --nav-link-load-time: 800ms;
  --article-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time)) 
}

.btnRow {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  row-gap: 1rem;
  padding-top: 1rem;
}
* LINKS  */
.btnlink {
  color: rgb(var(--v-theme-secondary));

}
.btnlink:hover {
  text-decoration: underline;
}

@keyframes article-load {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
